<section class="main-section">
  <br><br>  <br><br>

  <div class="analytics-container">
    <h2>{{ 'ANALYTICS_PAGE' | translate }}</h2>
    <div class="input-container">
      <div class="input-group">
        <label for="startDate">{{ 'START_DATE' | translate }}:</label>
        <input id="startDate" type="date" [(ngModel)]="startDate">
      </div>
      <div class="input-group">
        <label for="endDate">{{ 'END_DATE' | translate }}:</label>
        <input id="endDate" type="date" [(ngModel)]="endDate">
      </div>
    </div>
    <button (click)="getAnalytics()" [disabled]="!startDate || !endDate" class="get-analytics-btn">
      {{ 'SEE_INSIGHTS' | translate }}!
    </button>
    <div *ngIf="!startDate || !endDate" class="empty-state">
      <p>{{ 'SELECT_DATES_WARNING' | translate }}</p>
    </div>

    <div class="report">
      <div *ngIf="goals.length > 0" class="goals-section">
        <h3>{{ 'REPORT_FROM' | translate }} {{ startDate }} {{ 'TO' | translate }} {{ endDate }}</h3>
        <h4>{{ 'GOALS' | translate }}:</h4>
        <ul>
          <li *ngFor="let goal of goals">{{ goal }}</li>
        </ul>
      </div>

      <div *ngIf="chartImages.length > 0" class="images-section">
        <h4>{{ 'ANALYTICS_IMAGES' | translate }}:</h4>
        <div class="images-container">
          <div *ngFor="let img of chartImages" class="image-wrapper">
            <img [src]="img" alt="Analytics Chart" class="analytics-image" />
          </div>
        </div>
      </div>

      <div *ngIf="metrics" class="goals-section">
        <h4>{{ 'METRICS' | translate }}:</h4>

        <!-- Sentiment Counts -->
        <h5>{{ 'SENTIMENT_COUNTS' | translate }}</h5>
        <table>
          <tr>
            <th>{{ 'SENTIMENT' | translate }}</th>
            <th>{{ 'COUNT' | translate }}</th>
          </tr>
          <tr *ngFor="let sentiment of getMetricKeys('sentiment_counts')">
            <td>{{ sentiment.charAt(0).toUpperCase() + sentiment.slice(1) }}</td>
            <td>{{ metrics.sentiment_counts[sentiment] }}</td>
          </tr>
        </table>

        <!-- Topic Counts -->
        <h5>{{ 'TOPIC_COUNTS' | translate }}</h5>
        <table>
          <tr>
            <th>{{ 'TOPIC' | translate }}</th>
            <th>{{ 'COUNT' | translate }}</th>
          </tr>
          <tr *ngFor="let topic of getMetricKeys('topic_counts')">
            <ng-container *ngIf="topic !== 'NONE'">
              <td>{{ formatValue(topic) }}</td>
              <td>{{ metrics.topic_counts[topic] }}</td>
            </ng-container>
          </tr>
        </table>

        <!-- Top 5 Topics -->
        <h5>{{ 'TOP_5_TOPICS' | translate }}</h5>
        <table>
          <tr>
            <th>{{ 'TOPIC' | translate }}</th>
            <th>{{ 'COUNT' | translate }}</th>
          </tr>
          <tr *ngFor="let topic of getMetricKeys('top_5_topics')">
            <ng-container *ngIf="topic !== 'NONE'">
              <td>{{ formatValue(topic) }}</td>
              <td>{{ metrics.top_5_topics[topic] }}</td>
            </ng-container>
          </tr>
        </table>

        <!-- Most Frequent Sentiment Per Topic -->
        <h5>{{ 'MOST_FREQ_SENTIMENT_PER_TOPIC' | translate }}</h5>
        <table>
          <tr>
            <th>{{ 'TOPIC' | translate }}</th>
            <th>{{ 'SENTIMENT' | translate }}</th>
          </tr>
          <tr *ngFor="let topic of getMetricKeys('most_freq_sentiment_per_topic')">
            <ng-container *ngIf="topic !== 'NONE'">
              <td>{{ formatValue(topic) }}</td>
              <td>{{ metrics.most_freq_sentiment_per_topic[topic].charAt(0).toUpperCase() + metrics.most_freq_sentiment_per_topic[topic].slice(1) }}</td>
            </ng-container>
          </tr>
        </table>

        <!-- Most Frequent Topic Per Sentiment -->
        <h5>{{ 'MOST_FREQ_TOPIC_PER_SENTIMENT' | translate }}</h5>
        <table>
          <tr>
            <th>{{ 'SENTIMENT' | translate }}</th>
            <th>{{ 'TOPIC' | translate }}</th>
          </tr>
          <ng-container *ngFor="let sentiment of getMetricKeys('most_freq_topic_per_sentiment')">
            <tr *ngIf="metrics.most_freq_topic_per_sentiment[sentiment] !== 'NONE'">
              <td>{{ sentiment.charAt(0).toUpperCase() + sentiment.slice(1) }}</td>
              <td>{{ formatValue(metrics.most_freq_topic_per_sentiment[sentiment]) }}</td>
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="about-feedpulse">
  <div class="container">
    <div class="about-content">
      <!-- Image on the left -->
      <div class="about-image">
        <img src="assets/analysis.png" alt="About FeedPulse">
      </div>

      <!-- Content on the right -->
      <div class="about-text">
        <h2>{{ 'GENERATE_REPORTS' | translate }}</h2>
        <h1>{{ 'WE_WILL_GROW_BUSINESS' | translate }}</h1>
        <p class="description">
          {{ 'FEEDPULSE_DESCRIPTION' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Add Chatbot Component -->
<app-chatbot
  [facebookId]="facebookId"
  [startDate]="startDate"
  [endDate]="endDate"
  [showChatbot]="goals.length > 0">
</app-chatbot>
