<footer class="footer">
  <section class="cta-section">
    <div class="cta-content">
      <h1>{{ 'FOOTER_SUBSCRIBE_TITLE' | translate }}</h1>
      <div class="cta-form">
        <input type="email" placeholder="{{ 'FOOTER_EMAIL_PLACEHOLDER' | translate }}">
        <button>{{ 'FOOTER_SUBSCRIBE_BUTTON' | translate }}</button>
      </div>
    </div>
  </section>

  <br><br><br><br>

  <div class="footer-content">
    <div class="footer-section logo">
      <img src="assets/blacklogo.png" alt="FeedPulse Logo" class="logo-img">
      <p>{{ 'FOOTER_DESCRIPTION' | translate }}</p>
    </div>

    <div class="footer-section links">
      <h2>{{ 'FOOTER_QUICK_LINKS' | translate }}</h2>
      <ul>
        <li><a routerLink="/">{{ 'FOOTER_HOME' | translate }}</a></li>
        <li><a routerLink="/services">{{ 'FOOTER_SERVICES' | translate }}</a></li>
        <li><a routerLink="/about">{{ 'FOOTER_ABOUT' | translate }}</a></li>
        <li><a routerLink="/privacy-policy">{{ 'FOOTER_PRIVACY' | translate }}</a></li>
      </ul>
    </div>

    <div class="footer-section contact">
      <h2>{{ 'FOOTER_CONTACT' | translate }}</h2>
      <p><img src="assets/icons/mail-icon.png" class="icon" alt="email-icon"> {{ 'FOOTER_EMAIL' | translate }}</p>
      <p><img src="assets/icons/telephone-icon.png" class="icon" alt="phone-icon"> {{ 'FOOTER_PHONE' | translate }}</p>
      <p><img src="assets/icons/location-icon.png" class="icon" alt="location-icon"> {{ 'FOOTER_ADDRESS' | translate }}</p>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; 2025 FEEDPULSE. {{ 'FOOTER_RIGHTS' | translate }}
  </div>
</footer>
