.cta-section {
  background: url('../../assets/hero-bg.webp');
  background-repeat: no-repeat;
  background-position: right;
  background-color: #0a2640;
  padding: 100px 20px;
  text-align: center;
  color: white;
  border-radius: 8px;
  width: 70%;
  margin: 0 auto; /* this centers the section horizontally */
}

.cta-content h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.cta-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.cta-form input[type="email"] {
  padding: 15px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  width: 300px;
  max-width: 100%;
  outline: none;
}

.cta-form button {
  width: 100%;
  max-width: 180px;
  padding: 15px 30px;
  font-size: 1rem;
  background-color: #20c0bd;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-form button:hover {
  background-color: white;
  color: #20c0bd;
}

.footer {
  background-color: #f9f9f9;
  color: #20c0bd;
  padding-top: 2rem;
}

.logo-img {
  width: 40%; /* make logo smaller too */
  height: auto;
  margin-right: 8px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem; /* reduced side padding */
  color: #0a2640;
}

.footer-section {
  flex: 1;
  min-width: 180px; /* was 200px */
  margin: 0.5rem; /* was 1rem */
}

.footer-section h2 {
  font-size: 1.2rem; /* smaller heading */
  margin-bottom: 0.5rem; /* smaller gap */
  color: #20c0bd;
}

.footer-section p, .footer-section ul {
  font-size: 0.9rem; /* slightly smaller text */
  line-height: 1.4; /* tighter line height */
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.3rem; /* smaller gap between links */
}

.footer-section ul li a {
  color: #0a2640;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
  color: #20c0bd;
}

.footer-bottom {
  text-align: center;
  font-family: 'Helmet';

  background-color: #f9f9f9;
  margin-top: 0.5rem; /* less space */
  padding-top: 0.5rem;
  /* border-top: 1px solid #20c0bd; */
  font-size: 0.8rem; /* smaller text */
}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 6px; /* little less space */
}


@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin: 0.5rem 0;
  }

  .cta-section {
    width: 90%;
  }
}
