<footer class="footer">
    <div class="footer-content">
      <div class="footer-section logo">
        <img src="assets/logo.png" alt="FeedPulse Logo" class="logo-img">
        <p>We analyze real social media feedback to help your business grow smarter.</p>
      </div>
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/about-us">About Us</a></li>
          <!--<li><a href="/contact-us">Contact Us</a></li>-->
        </ul>
      </div>
      <div class="footer-section contact">
        <h2>Quick Contact</h2>
        <p><img src="assets/mail.png" class="icon" alt="email-icon">Email: feedpulse&#64;gmail.com</p>
        <p><img src="assets/telephone.png" class="icon" alt="phone-icon">Phone: +20 117 420 7890</p>
        <p><img src="assets/location.png" class="icon" alt="loaction-icon">Address: 123 Main St, Assiut, Egypt</p>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2025 FEEDPULSE. All rights reserved.
    </div>
</footer>
