<nav [ngClass]="{'navbar': true, 'scrolled': isScrolled}">
  <div class="navbar-brand">
    <img src="assets/logo.webp" alt="FeedPulse Logo" class="logo-img">

        <!-- Hamburger (mobile only) -->
    <button class="hamburger" (click)="toggleMenu()" aria-label="Toggle menu">
      &#9776;
    </button>
  </div>


  <ul class="navbar-links" [ngClass]="{ 'open': menuOpen }">
    <li class="language-switcher">
        <select [value]="getCurrentLanguage()" (change)="switchLanguage($any($event.target).value)" id="language-selector">
          <option value="en">🌍 English</option>
          <option value="ar"> 🌍 العربية</option>
          <option value="fr">🌍 français</option>
          <option value="es">🌍 español</option>
        </select>
    </li>
    <li><a routerLink="/home" routerLinkActive="active active-link" [routerLinkActiveOptions]="{ exact: true }">{{ 'HOME' | translate }}</a></li>
    <li><a routerLink="/about" routerLinkActive="active active-link">{{ 'ABOUT_US' | translate }}</a></li>
    <ng-container *ngIf="isLoggedIn; else notLoggedIn">
      <li><a routerLink="/dashboard" routerLinkActive="active active-link">{{ 'INSIGHTS' | translate }}</a></li>
      <li><a href="#" (click)="onLogout($event)">{{ 'LOGOUT' | translate }}</a></li>
    </ng-container>
    <ng-template #notLoggedIn>
      <li><a routerLink="/login" routerLinkActive="active active-link">{{ 'LOGIN' | translate }}</a></li>
      <li><a routerLink="/signup" routerLinkActive="active active-link">{{ 'SIGNUP' | translate }}</a></li>
    </ng-template>
  </ul>
</nav>
