__pycache__/

# Visual Studio specific files
.vs/
*.sln
*.user
*.suo
*.csproj.user

# Build results
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.mdb

# Published output
publish/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Others
web-api/appsettings.json
*.log
*.tmp
*.cache
*.pid
*.seed
*.sublime-workspace

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Security Test
bandit_report.html

# Spark Tests Files
/ai-api/test/test_spark/

# Local Database
/ai-api/database/

#virtual environment
/ai-api/venv