
<section class="split-container">
  <div class="left-side">
    <ng-container *ngIf="isLoggedIn; else notLoggedIn">
      <h1 style="color: #20c0bd;">{{ 'WELCOME_TITLE' | translate }}</h1>
      <p style="color: #f7f8fc;">{{ 'WELCOME_SUBTITLE' | translate }}</p>
      <button class="gif-button" routerLink="/dashboard" routerLinkActive="active" style="color: #f7f8fc; font-weight: bold; font-size: 24px;">
        <img src="assets/gif/report.webp" alt="Button GIF"> {{ 'CREATE_REPORT' | translate }}
      </button>
    </ng-container>
    <ng-template #notLoggedIn>
      <h1>FeedPulse</h1>
      <p>{{ 'WELCOME_SUBTITLE' | translate }}</p>
      <a routerLink="/signup" routerLinkActive="active" class="btn">{{ 'GET_STARTED' | translate }}</a>
      <button class="gif-button" (click)="onButtonClick()">
        <img src="assets/gif/video.webp" alt="Button GIF"> {{ 'WATCH_VIDEO' | translate }}
      </button>
    </ng-template>
  </div>
  <div class="right-side">
    <img src="assets/GenericHero.png" alt="Description">
  </div>
</section>

<app-services></app-services>

<section class="timeline-section section-padding">
  <div class="section-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p style="font-size: 1.2rem; color:white;">{{ 'PROCESS' | translate }}</p>
        <h2 class="text-white mb-4" style="font-size: 2.985984rem;">{{ 'HOW_IT_WORKS' | translate }}</h2>
      </div>

      <div class="col-lg-10 col-12 mx-auto">
        <div class="timeline-container">
          <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
            <div class="list-progress"><div class="inner"></div></div>

            <li>
              <h3 class="text-white mb-3">{{ 'STEP_REGISTER_TITLE' | translate }}</h3>
              <p class="text-white">{{ 'STEP_REGISTER_DESC' | translate }}</p>
              <div class="icon-holder">
                <img src="assets/icons/register-icon.png" class="icon" alt="email-icon">
              </div>
            </li>

            <li>
              <h3 class="text-white mb-3">{{ 'STEP_FB_TITLE' | translate }}</h3>
              <p class="text-white">{{ 'STEP_FB_DESC' | translate }}</p>
              <div class="icon-holder">
                <img src="assets/icons/social-media-icon.png" class="icon" alt="email-icon">
              </div>
            </li>

            <li>
              <h3 class="text-white mb-3">{{ 'STEP_INSIGHTS_TITLE' | translate }}</h3>
              <p class="text-white">{{ 'STEP_INSIGHTS_DESC' | translate }}</p>
              <div class="icon-holder">
                <img src="assets/icons/monitor-icon.png" class="icon" alt="email-icon">
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 text-center mt-5">
        <p class="text-white">
          {{ 'LEARN_MORE' | translate }}
          <button class="gif-button" (click)="onButtonClick()">
            <img src="assets/gif/video.webp" alt="Button GIF">
            {{ 'CHECK_VIDEO' | translate }}
          </button>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="about-feedpulse">
  <div class="container">
    <div class="about-content">
      <div class="about-text">
        <p>{{ 'ABOUT_FEEDPULSE' | translate }}</p>
        <h2>{{ 'GROW_BUSINESS' | translate }}</h2>
        <p class="description">{{ 'DESCRIPTION' | translate }}</p>

        <div class="vision-mission-container">
          <div class="vision">
            <h3>{{ 'OUR_VISION' | translate }}</h3>
            <ul >
              <li><img src="assets/icons/checklist.png" class="icon"alt="."> {{ 'VISION_1' | translate }}</li>
              <li><img src="assets/icons/checklist.png" class="icon"alt="."> {{ 'VISION_2' | translate }}</li>
              <li><img src="assets/icons/checklist.png" class="icon"alt="."> {{ 'VISION_3' | translate }}</li>
            </ul>
          </div>
          <div class="mission">
            <h3>{{ 'OUR_MISSION' | translate }}</h3>
            <ul>
              <li><img src="assets/icons/checklist.png" class="icon"alt="."> {{ 'MISSION_1' | translate }}</li>
              <li><img src="assets/icons/checklist.png" class="icon"alt="."> {{ 'MISSION_2' | translate }}</li>
            </ul>
          </div>
        </div>

        <div class="story">
          <a routerLink="/about" routerLinkActive="active" class="btn-secondary">
            {{ 'OUR_STORY' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

