<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Filtration Test
        </title>
    </head>
    <body>
        <h1>Test the Filtration Process</h1>

        <form method="POST">
            <label>
                <textarea name="text" rows="5" cols="50" placeholder="Enter your text here"></textarea>
            </label><br>
            <button type="submit">Test</button>
        </form>
        <h2>Topic: {{ has_topic }}</h2>
        <h2>Type: {{ text_type }}</h2>
    </body>
</html>