<div class="form-container">
  <h2>{{ 'ADD_ORG_TITLE' | translate }}</h2>
  <form (submit)="submitForm()">
    <div>
      <label for="name">{{ 'ORG_NAME' | translate }}</label>
      <input type="text" [(ngModel)]="organization.name" name="name" id="name" readonly />
    </div>

    <div>
      <label for="description">{{ 'ORG_DESCRIPTION' | translate }}</label>
      <input type="text" [(ngModel)]="organization.description" name="description" id="description" [placeholder]="'ORG_DESCRIPTION_PLACEHOLDER' | translate" required />
    </div>

    <div>
      <label for="facebookId">{{ 'ORG_FB_ID' | translate }}</label>
      <input type="text" [(ngModel)]="organization.facebookId" name="facebookId" id="facebookId" readonly disabled />
    </div>

    <div>
      <label for="pageAccessToken">{{ 'ORG_PAGE_TOKEN' | translate }}</label>
      <input type="text" [(ngModel)]="organization.pageAccessToken" name="pageAccessToken" id="pageAccessToken" readonly disabled />
    </div>

    <div>
      <label for="userId">{{ 'ORG_USER_ID' | translate }}</label>
      <input type="text" [(ngModel)]="organization.userId" name="userId" id="userId" />
    </div>

    <button type="submit">{{ 'SUBMIT' | translate }}</button>
  </form>
</div>
