.gradient-custom {
    /*background: #4A90E2;
    background: -webkit-linear-gradient(to bottom right, #4A90E2, rgba(245, 87, 108, 1));
    background: linear-gradient(to bottom right, #4A90E2, rgba(245, 87, 108, 1));*/
    background-color: #0a2640;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    min-height: 110vh;
}

.card-registration {
  border-radius: 15px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}
.form-group label{
  color: #6c6c6c;
  font-weight: bold;
}

.form-group i{
  color: #20c0bd;
}
  
.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, textarea:focus, select:focus {
  border-color: #20c0bd;
  box-shadow: 0 0 5px #20c0bd;
  outline: none;
}

.form-group label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: white;
    padding: 0 5px;
    font-size: 0.9rem;
}

button[type="submit"] {
  width: 100%;
  max-width: 180px;
  height: 54px;
  padding: 15px 30px;
  font-size: 1.1rem;
  background-color: #20c0bd;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0a2640;
  color: white;
  transform: translateY(-2px);
}

button[type="submit"]:disabled {
    background: gray;
    cursor: not-allowed;
}

.text-danger {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

input[type="file"]::file-selector-button {
  background: #20c0bd;
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

input[type="file"] {
  padding: 6px;
}
