google-generativeai==0.8.3
flask==3.0.3
flask-cors==5.0.1
gunicorn==23.0.0
torch==2.5.1
transformers==4.48.0
accelerate==1.1.1
openai==1.55.3
pyspark==3.5.4
delta-spark==3.3.0
lida==0.0.14
pandas==1.5.3
groq==0.18.0
pyarrow==17.0.0
pandasai==2.3.0
redis==6.2.0
numpy==1.23.5
