<!-- Container (Services Section) -->
<section id="services" class="services-section">
    <div class="container text-center">
      <p class="section-title">Our Services</p>
      <h2 class="section-subtitle">What we offer</h2>
      <div class="row services-grid">
        <!-- Service Item 1 -->
        <div class="col-md-4 service-item">
          <div class="service-icon">
            <i class="fa-solid fa-chart-simple" style="color: #20c0bd;"></i>
          </div>
          <h4 class="service-title">Sentiment Analysis</h4>

        </div>

        <!-- Service Item 2 -->
        <div class="col-md-4 service-item">
          <div class="service-icon">
            <i class="fa-solid fa-location-crosshairs" style="color: #20c0bd;"></i>
          </div>
          <h4 class="service-title">Topic Detection</h4>

        </div>

        <!-- Service Item 3 -->
        <div class="col-md-4 service-item">
          <div class="service-icon">
            <i class="fa-solid fa-lock" style="color: #20c0bd;"></i>
          </div>
          <h4 class="service-title">Security</h4>

        </div>

        <!-- Service Item 4 -->
        <div class="col-md-4 service-item">
          <div class="service-icon">
            <i class="fa-solid fa-leaf" style="color: #20c0bd;"></i>
          </div>
          <h4 class="service-title">Eco-Friendly</h4>

        </div>

        <!-- Service Item 5 -->
        <div class="col-md-4 service-item">
          <div class="service-icon">
            <i class="fa-solid fa-chart-pie" style="color: #20c0bd;"></i>
          </div>
          <h4 class="service-title">Customized Report and Visualization</h4>

        </div>

        <!-- Service Item 6 -->
        <div class="col-md-4 service-item">
          <div class="service-icon">
            <i class="fa-solid fa-robot" style="color: #20c0bd;"></i>
          </div>
          <h4 class="service-title">Chatbot</h4>

        </div>
      </div>
    </div>
  </section>
