<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px; overflow: hidden;">
          <div class="row g-0">
            <!-- Login Form -->
            <div class="col-md-12">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-5 center" style="color: #0a2640; text-align: center;">{{ 'LOG.TITLE' | translate }}</h3>

                <form #signupForm="ngForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
                  <!-- User Name -->
                  <div class="custom-input-container">
                    <input type="text" name="userName" [(ngModel)]="Model.userName" required minlength="3" maxlength="20" #userName="ngModel" class="form-control custom-input" id="userName" />
                    <label for="userName" class="custom-label"><i class="fa fa-user"></i>{{ 'LOG.USERNAME' | translate }}</label>
                  </div>

                  <!-- Password -->
                  <div class="custom-input-container">
                    <input type="password" name="password" [(ngModel)]="Model.password" required minlength="8" #password="ngModel" class="form-control custom-input" id="password" />
                    <label for="password" class="custom-label"><i class="fa fa-lock"></i>{{ 'LOG.PASSWORD' | translate }}</label>

                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                      <small *ngIf="password.errors!['required']">{{ 'LOG.PASSWORD_REQUIRED' | translate }}</small>
                      <small *ngIf="password.errors!['minlength']">{{ 'LOG.PASSWORD_MIN' | translate }}</small>
                    </div>
                  </div>

                  <!-- Submit Button -->
                  <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">{{ 'LOG.BUTTON' | translate }}</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
