<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active"><img src="assets/home-icon.png" alt="Home" class="icon"> Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active"><img src="assets/about-icon.png" alt="About" class="icon"> About</a></li>
    <li><a routerLink="/login" routerLinkActive="active"><img src="assets/login-icon.png" alt="Login" class="icon"> Login</a></li>
    <li><a routerLink="/signup" routerLinkActive="active"><img src="assets/signup-icon.png" alt="Signup" class="icon"> Signup</a></li>

    <li class="search-container">
      <input type="text" placeholder="Search..." class="search-input"style="float: left;">
      <button class="search-btn"style="float: left;">🔍</button>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
