<section class="part1">

    <br>
    <h3><a href="/">Home</a> >  Privacy Policy</h3>
    <h1>Privacy Policy – FeedPulse</h1>
</section>
<section class="part2">
    <p>
        We collect the organization’s name, description, and use Facebook login to register. 
        We store the access token and page ID to access public comments. We gather these comments along with their timestamps for analysis. 
        These comments are processed using AI models (LLMs) to determine sentiment (positive or negative) and assign a “topic” (such as cleanliness, food , or other relevant categories) to each comment, and to generate reports. 
        We may store some of the report information (such as charts, dates, etc.) for faster report retrieval. Some data, including comments and timestamps, may be shared with external AI providers, and the models may use this data for training to improve their accuracy and performance. 
        We take measures to protect your data, but no system is completely secure. This policy may be updated
    </p>
</section>
