<section class="gradient-custom">
  <div class="text-center">
    <p>{{ 'FB_CONNECT_TEXT' | translate }}</p>
    <h2>{{ 'FB_CONNECT_HEADER' | translate }}</h2>
  </div>

  <div class="header" *ngIf="!isConnected">

    <button (click)="login()" class="facebook-btn">
      <i class="fa-brands fa-facebook-f"></i>
      {{ 'FB_CONNECT_BUTTON' | translate }}
    </button>
    <br>
    <button (click)="goToMockPage()" class="facebook-btn">
      Try Mock Page
    </button>
  </div>
  <div class="dashboard-container" *ngIf="isConnected">
    <div *ngIf="userData">
      <h3 style="color: #13547a;">{{ 'WELCOME_USER' | translate }} {{ userData.name }}</h3>
      <br>
      <img [src]="userData.picture?.data.url" alt="Profile Picture">
      <br>
    </div>

    <div *ngIf="unregisteredPages?.length">
      <h4>{{ 'UNREGISTERED_PAGES' | translate }}</h4>
      <ul>
        <li *ngFor="let page of unregisteredPages">
          {{ page.name || ('UNKNOWN_PAGE' | translate) }} (ID: {{ page.id }})
          <button (click)="goToForm(page)">{{ 'GO_TO_FORM' | translate }}</button>
        </li>
      </ul>
    </div>

    <div *ngIf="registeredPages.length > 0">
      <h4 style="color: #0a2640; font-size: 1.3rem;">{{ 'REGISTERED_PAGES' | translate }}</h4>
      <ul>
        <li *ngFor="let page of pages">
          <b>{{ page.name || ('UNKNOWN_PAGE' | translate) }}</b>&nbsp;(ID: {{ page.id }})
          <button (click)="goToAnalytics(page)" class="gif-button">
            <img src="assets/gif/report.gif" alt="Analytics">
          </button>
        </li>
      </ul>
    </div>

    <div class="header">
      <button *ngIf="isConnected" (click)="logout()" class="facebook-btn">
        <i class="fa-brands fa-facebook-f"></i>
        {{ 'DISCONNECT' | translate }}
      </button>
    </div>
  </div>
</section>
