<section class="gradient-custom">
  <div class="dashboard-container">
    <div *ngIf="userData">
      <h3 style="color: #13547a;">Welcome, {{ userData.name }}</h3>
      <br>
      <img [src]="userData.picture?.data.url" alt="Profile Picture">
      <br>
    </div>
      <!-- ✅ Updated unregistered pages display -->
      <div *ngIf="unregisteredPages?.length">
        <h4>Your unregistered pages:</h4>
        <ul>
          <li *ngFor="let page of unregisteredPages">
            {{ page.name || 'Unknown Page' }} (ID: {{ page.id }})
            <button (click)="goToForm(page)">Go to Form</button>
          </li>
        </ul>
      </div>
      <div *ngIf="registeredPages.length > 0">
        <h4>Your registered pages:</h4>
        <ul>
          <li *ngFor="let page of pages">
            <b>{{ page.name || 'Unknown Page' }}</b>&nbsp;(ID: {{ page.id }})
            <button (click)="goToAnalytics(page)" class="gif-button">
                <img src="assets/gif/report.gif" alt="Analytics">

            </button> <!-- 🔍 New Button -->
          </li>
        </ul>
      </div>

    <div class="header">
      <button *ngIf="!isConnected" (click)="login()" style="background-color: #20c0bd; color: white;">Connect to Facebook</button>
      <button *ngIf="isConnected" class="connected-button" (click)="logout()" style="background-color: #20c0bd; color: white;">Disconnect</button>
    </div>

  </div>
</section>
