.gradient-custom {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* vertical alignment */
  justify-content: center;
  background-color: #0a2640 ;/* #f9f9fc;*/
  min-height: 50vh; /* or 100vh for full screen */
  padding-top: 200px;
  gap: 40px;
}

/*----header------*/
.text-center {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  color: white;
}

.text-center p{
  color: #20c0bd;
  font-size: 1.2rem;
}

.text-center h2 {
  font-size: 28px;
}

/* -------deprecated------
.description-text {
  color: #ddd;
  font-size: 2.985984rem;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.6;
}*/

.dashboard-container {
  align-items: center; /* vertical alignment */
  justify-content: center;

  max-width: 500px;
  margin: auto;
  padding: 25px;
  background: #f7f8fc;
  border-radius: 10px;
}

.header {
  text-align: center;
}

.header button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 55px;
  padding: 15px 30px;
  font-size: 1rem;
  background-color: #20c0bd;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: white;
  color: #20c0bd;
  i{
    color: #20c0bd;
  }
}

i {
  padding-right: 11px;
  color: white;
}

img {
  display: block;   /* Treat the image as a block element */
  margin: 0 auto;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f1f1f1;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*-------------- gif button-----------------*/
.gif-button {
  background: transparent;
  border: none;
  padding-left: 20px;
  padding-bottom: 20;
  cursor: pointer;
  outline: none;
  color: white;
}

.gif-button img {
  width: 75px; /* Adjust the size you want */
  height: auto;
  transition: transform 0.3s ease;
  padding-bottom: 20px;

}

.gif-button:hover img {
  transform: scale(1.1); /* Slight zoom on hover */
}

