<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container bottomContainer">
    <div class="ultimateImg">
      <img class="mainImg" src="assets/team.webp" alt="team">
    </div>
    <div class="allText bottomText">
      <p class="text-blk headingText">
        {{ 'OUR_TEAM' | translate }}
      </p>
      <p class="text-blk subHeadingText">
        {{ 'TEAM_SUBHEADING' | translate }}
      </p>
      <p class="text-blk description">
        {{ 'TEAM_DESCRIPTION' | translate }}
      </p>
    </div>
  </div>
</div>
