<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>


</head>
<body>
  <h1>Hello, {{ title }}</h1>
  <nav>
    <ul>


      <li><a routerLink="/home" routerLinkActive="active"><img src="assets/home-icon.png" alt="Home" class="icon"> Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active"><img src="assets/about-icon.png" alt="About" class="icon"> About</a></li>
      <li><a routerLink="/login" routerLinkActive="active"><img src="assets/login-icon.png" alt="Login" class="icon"> Login</a></li>
      <li><a routerLink="/signup" routerLinkActive="active"><img src="assets/signup-icon.png" alt="Signup" class="icon"> Signup</a></li>

      <li class="search-container">
        <input type="text" placeholder="Search..." class="search-input"style="float: left;">
        <button class="search-btn"style="float: left;">🔍</button>
      </li>
    </ul>
  </nav>
</body>
</html>


<router-outlet></router-outlet>
